<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>登录注册界面</title>
    <script src="http://cdn.static.runoob.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <link type="text/css" rel="stylesheet" href='../static/css/hello.css'>
</head>

<body>
    <h1 style="font-size: 100px">我的第一个django</h1>
    <div class ='mainDiv'>
        <div class = 'user_child'>
            <i>username</i>
            <input type="username" class="username">
        </div>
        <div class = "password_child">
            <i>password</i>
            <input type="password" class="password">
        </div>
        <div class="btn_rgp">
            <button class="login_btn">login</button>
        </div>
    </div>


</body>

</html>